<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 id="title">{{ object.title }}</h1>

    <a href="{% url 'bookmark_update' bookmark.id %}"><button>Update</button></a>

    <a href="{% url 'bookmark_delete' bookmark.id %}"><button>Delete</button></a>

<ul>
    <li>URL : <a href="{{object.url}}">{{ object.url }}</a> </li>
    <li>Create Date: {{ object.create_date }} </li>
    <li>Modify Date: {{ object.modify_date }}</li>
</ul>
<iframe src="{{ object.url }}"></iframe>


<div id="content">

    <h1>{{ object.title }}</h1>
    <div>
        <p>Description: {{ object.description }}</p>
        <p>Create Date: {{ object.create_date }}</p>
        <p>Modify Date: {{object.modify_date }}</p>
     </div>

</div>


</body>
</html>