{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <meta charset="UTF-8">
    <title>HAHAHA</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <style>
        .ha{
            font-family: 'Pacifico', cursive;
            color:green;
            font-size:60px;
        }
        body{
            text-align:center;
        }
        p a{
            text-decoration:none;
            color:skyblue;
        }

    </style>
    <img src="https://pbs.twimg.com/profile_images/1052717778925285376/VTtrZEOM_400x400.jpg">
    <p class="ha">Password successfully changed.</p>
    <p class="ha"><a href="{% url 'index' %}">Go To Index</p>
{% endblock content %}